:root{
  --lightgreen: #d5f9ba;
  --grigetto: #d6dbd8;
  --celeste: #8edafc;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to top,
    #DADBD4 0%,
    #DADBD4 85%,
    rgb(0, 150, 136) 0%,
    rgb(0, 150, 136) 100%
  );
}

/************************ 
        UTILITIES
 **********************/

.container{
  margin: 40px auto;
  width: 1300px;
  height: 765px;
}

.debug{
  border: 1px dashed black;
}

.d-flex{
  display: flex;
}


/************************ 
        /UTILITIES
 **********************/

/************************ 
          MAIN
 **********************/
.container:first-child .row{
  height: 100%;
}

.row .col:first-child{
  background-color: white;
  width: 30%;
  border-right: 2px solid #d6dbd8 ;
}

.row .col:nth-child(2){
  width: 70%;
  background-image: url(../img/mine.jpg);
}

.user{
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 10px;
  background-color: white;
}

.user .avatar{
  padding: 0 10px;
}

.user .icons div{
  padding: 0 10px;
}

.notifications{
  background-color: var(--celeste);
  align-items: center;
  height: 80px;
}

.notifications .bell{
  padding: 0 10px;
}

.search{
  padding: 10px;
}

.search input{
  width: 100%;
  padding: 5px;
}

.convo{
  max-height: 565px;
  overflow-y: scroll;
}

.avatar img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.chat{
  align-items: center;
  height: 80px;
  padding: 0 20px;
}

.chat .text{
  padding: 0 30px;
}

.window-chat{
  max-height: 80%;
  height: 80%;
  overflow-y: scroll;
}

.window-chat .chat{
  margin: 20px;
}

.sent{
  flex-direction: row-reverse;
}

.you{
  background-color: #d5f9ba;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
}

.him-her{
  margin: 20px auto;
}

.read{
  background-color: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
}

.board{
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 10.9%;
}

/************************ 
          /MAIN
 **********************/


/************************ 
        RESPONSIVE
 **********************/

@media screen and (max-width: 992px){
  .container{
    width: 100%;
  }

  .row .col:first-child{
    width: 10%;
  }

  .row .col:nth-child(2){
    width: 90%;
  }

  .icons, .notifications,
  .search, .text{
    display: none;
  }

}

@media screen and (max-width: 542px){
  .container{
    width: 100%;
  }

  .row .col:first-child{
    display: none;
  }

  .row .col:nth-child(2){
    width: 100%;
  }

  .you, .read{
    padding: 20px;
    width: 250px;
    border-radius: 10px;
  }

  .you{
    background-color: var(--lightgreen);
  }

  .read{
    background-color: white;
  }

}

/************************ 
        /RESPONSIVE
 **********************/